apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: 384484331702.dkr.ecr.us-east-1.amazonaws.com/demo-frontend
  newName: 384484331702.dkr.ecr.us-east-1.amazonaws.com/demo-frontend
  newTag: c902af26
resources:
- ../../base
patchesStrategicMerge:
- front-deployment-patch.yaml
- front-service-patch.yaml
